.speech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .controls button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .transcript {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .transcript.listening {
    border-color: #007bff;
    background: #e7f3ff;
  }
  