@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.math-science-teacher {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.chat-history {
    height: calc(100vh - 200px);
    overflow-y: auto;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.message {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 0.375rem;
}

.user {
    background-color: #3b82f6;
    color: white;
    text-align: right;
}

.bot {
    background-color: #f3f4f6;
}

.error {
    background-color: #fee2e2;
    color: #b91c1c;
}

form {
    display: flex;
    gap: 0.5rem;
}

input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2563eb;
}

.markdown-content {
    line-height: 1.6;
}

.markdown-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.markdown-content h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.markdown-content p {
    margin-bottom: 0.5rem;
}

.markdown-content ul, .markdown-content ol {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
}

.markdown-content li {
    margin-bottom: 0.25rem;
}