@keyframes scaleIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .dropdown-animation {
    animation: scaleIn 0.3s ease-out forwards;
    transform-origin: top right;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .dropdown-animation:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }