/* Estilos mejorados para el modal de edición de preguntas */
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --text-color: #333;
    --background-color: #f8f9fa;
    --border-radius: 8px;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
  }
  
  /* Estilos para el sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
    z-index: 1000;
  }
  
  /* Ajustar el margen del contenido principal para el sidebar */
  .main-content {
    margin-left: 250px; /* Debe coincidir con el ancho del sidebar */
    padding: 20px;
    height: 100vh;
    overflow-y: auto; /* Permite que solo este contenedor sea desplazable */
  }
  
  /* Estilos para el contenedor principal */
  .content-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  
  /* Estilos para el modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
  }
  
  .modal-content {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 2.5rem;
    width: 100%;
    max-width: 550px;
    transition: var(--transition);
    transform: scale(0.9);
    opacity: 0;
    animation: modalAppear 0.3s forwards;
  }
  
  @keyframes modalAppear {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .modal-title {
    font-size: 1.8rem;
    color: var(--secondary-color);
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    transition: var(--transition);
  }
  
  .close-btn:hover {
    color: var(--primary-color);
  }
  
  .label {
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--text-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .input-field,
  .select-field {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e0e0e0;
    border-radius: var(--border-radius);
    font-size: 1rem;
    transition: var(--transition);
    background-color: white;
  }
  
  .input-field:focus,
  .select-field:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
  }
  
  .option-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
  }
  
  .option-label {
    font-weight: 600;
    margin-right: 0.5rem;
    min-width: 30px;
  }
  
  .option-input {
    flex-grow: 1;
    margin-bottom: 0;
  }
  
  .remove-option-btn,
  .add-option-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    transition: var(--transition);
    padding: 0.5rem;
    border-radius: var(--border-radius);
  }
  
  .remove-option-btn:hover,
  .add-option-btn:hover {
    color: var(--primary-color);
    background-color: rgba(52, 152, 219, 0.1);
  }
  
  .add-option-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: var(--transition);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .button-save {
    background-color: var(--primary-color);
    color: white;
  }
  
  .button-save:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.2);
  }
  
  .button-cancel {
    background-color: #ecf0f1;
    color: var(--secondary-color);
  }
  
  .button-cancel:hover {
    background-color: #bdc3c7;
    transform: translateY(-2px);
  }
  
  /* Estilos para preguntas de verdadero/falso */
  .option-container input[type="radio"] {
    margin-right: 0.5rem;
  }
  
  .option-container label {
    font-size: 1rem;
    color: var(--text-color);
  }
  
  /* Estilos para el mensaje de alerta */
  .alert {
    background-color: #e3f2fd;
    border: 1px solid #bbdefb;
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .alert-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }
  
  .alert-description {
    font-size: 0.9rem;
    color: var(--text-color);
  }