/* Fijar Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, #4EA7FF, #007CF5);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  /* Fijar Navbar */
  .navbar {
    position: fixed;
    top: 0;
    left: 250px; /* Ancho del sidebar */
    width: calc(100% - 250px); /* Resta el ancho del sidebar */
    height: 60px; /* Ajusta la altura según tu navbar */
    background-color: #fff; /* O cualquier color que uses */
    z-index: 1000;
  }
  
  /* Ajuste del contenido principal */
  .main-content {
    margin-left: 270px; /* Corresponde al ancho del sidebar + algo de margen */
    padding-top: 80px; /* Ajusta este valor dependiendo de la altura de tu navbar */
    height: calc(100vh - 80px); /* Resta la altura del navbar */
    overflow-y: auto;
    box-sizing: border-box;
  }
  