/* Fondo con gradiente animado */
.gradient-bg {
    background: linear-gradient(-45deg, #1a7bdd, #4072c9, #5cb3ff, #3c66b5); /* Gradiente de colores */
    background-size: 400% 400%;   /* Tamaño del fondo para animación */
    animation: gradient 15s ease infinite; /* Aplica la animación 'gradient' */
  }
  
  /* Definición de la animación del gradiente */
  @keyframes gradient {
    0% {
      background-position: 0% 50%; /* Posición inicial del gradiente */
    }
    50% {
      background-position: 100% 50%; /* Posición intermedia del gradiente */
    }
    100% {
      background-position: 0% 50%; /* Posición final del gradiente (igual a la inicial) */
    }
  }
  
  /* Estilo adicional para el botón */
  .button-style {
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .button-style:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los botones de Google y Facebook */
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #757575;
    border: 1px solid #ddd;
  }
  
  .social-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .social-button:hover {
    background-color: #f1f1f1;
  }