@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.virtual-english-teacher {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.chat-history {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.user {
    background-color: #e6f3ff;
    text-align: right;
}

.bot {
    background-color: #f0f0f0;
}

.error {
    background-color: #ffe6e6;
    color: #ff0000;
}

form {
    display: flex;
}

input {
    flex-grow: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}