.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  .input-field:focus {
    border: 1px solid #555;
    box-shadow: 0 0 5px #719ECE;
  }
  
  .input-dropdown {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  .input-dropdown:focus {
    border: 1px solid #555;
    box-shadow: 0 0 5px #719ECE;
  }
  