.gradient {
    background-color: #4b6cb7;
    background-image: linear-gradient(90deg, rgba(75, 108, 183, 1) 0%, rgba(24, 40, 72, 1) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: gradient 10s ease infinite;
    transition: background-color 2s ease-in-out;
  }
  
  @keyframes gradient {
    0% {
      background-color: #4b6cb7;
    }
    50% {
      background-color: #182848;
    }
    100% {
      background-color: #4b6cb7;
    }
  }