/* Fijar Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ajusta este valor según el ancho de tu sidebar */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background: linear-gradient(to bottom, #4EA7FF, #007CF5);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

/* Fijar Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 250px; /* Debe coincidir con el ancho del sidebar */
  width: calc(100% - 250px); /* La anchura del navbar es el total menos el ancho del sidebar */
  height: 60px; /* Ajusta este valor según la altura de tu navbar */
  background-color: #fff; /* O el color de fondo que utilices */
  z-index: 1000;
}

/* Ajuste del contenido principal */
.main-content {
  margin-left: 250px; /* Debe coincidir con el ancho del sidebar */
  padding-top: 60px; /* Corresponde a la altura del navbar */
  height: calc(100vh - 60px); /* La altura total menos la altura del navbar */
  overflow-y: auto;
  box-sizing: border-box;
  padding: 20px; /* Ajusta este valor para espacio adicional si es necesario */
}
