/* Estilos para la barra de acción modal */
.action-modal-bar {
  display: flex;                /* Establece un contenedor flexible */
  align-items: center; 
  gap: 10px;         /* Alinea los elementos verticalmente en el centro */
  padding: 10px 20px;            /* Relleno interno de 8 píxeles arriba/abajo y 16 píxeles a la izquierda/derecha */
  border-radius: 9999px;        /* Bordes completamente redondeados */
  box-shadow: 0 4px 20px 0px rgba(0,0,0,0.10); /* Sombra suave */
  z-index: 500;                 /* Capa de apilamiento alta para superposición */
  min-width: 610px;             /* Ancho mínimo de la barra */
  max-width: 680px;             /* Ancho máximo de la barra */
}

/* Fondo con gradiente animado */
.gradient-bg {
  background: linear-gradient(-45deg, #1a7bdd, #4072c9, #5cb3ff, #3c66b5); /* Gradiente de colores */
  background-size: 400% 400%;   /* Tamaño del fondo para animación */
  animation: gradient 15s ease infinite; /* Aplica la animación 'gradient' */
}

/* Definición de la animación del gradiente */
@keyframes gradient {
  0% {
    background-position: 0% 50%; /* Posición inicial del gradiente */
  }
  50% {
    background-position: 100% 50%; /* Posición intermedia del gradiente */
  }
  100% {
    background-position: 0% 50%; /* Posición final del gradiente (igual a la inicial) */
  }
}

/* Opacidad del fondo */
.bg-opacity-20 {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con 20% de opacidad */
}

/* Efecto hover con aumento de opacidad */
.hover\:bg-opacity-30:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco con 30% de opacidad al pasar el mouse */
}

/* Transición suave para todos los cambios */
.transition-all {
  transition-property: all; /* Aplica transición a todas las propiedades */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* Función de temporización para una transición suave */
  transition-duration: 300ms; /* Duración de la transición */
}

/* Contenedor flexible para alinear elementos a la izquierda */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  width: 100%;
  gap: 10px; /* Añadir espacio entre elementos */
}
