/* General styles for the table */
.rubrica-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
  }
  
  /* Header styling */
  .rubrica-table th {
    background-color: #2E7D32; /* Verde oscuro */
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: 600;
    border-bottom: 2px solid #1B5E20; /* Verde más oscuro */
    text-transform: uppercase;
  }
  
  /* Row and cell styling */
  .rubrica-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top;
    color: #555; /* Texto en gris oscuro */
  }
  
  /* Alternating row colors */
  .rubrica-table tr:nth-child(even) {
    background-color: #f4f4f4;
  }
  
  /* Hover effect for rows */
  .rubrica-table tr:hover {
    background-color: #e0e0e0;
  }
  
  /* Styling for the 'Criterios de Evaluación' column */
  .rubrica-table td:first-child {
    background-color: #E8F5E9; /* Verde claro para el fondo */
    border-left: 4px solid #2E7D32; /* Borde izquierdo verde oscuro */
    font-weight: 600;
    color: #2E7D32; /* Texto en verde oscuro */
  }
  
  /* Specific styling for points and comments */
  .rubrica-table .puntaje, 
  .rubrica-table .comentarios, 
  .rubrica-table .puntaje-total,
  .rubrica-table .calificacion-general {
    font-weight: bold;
    color: #1B5E20; /* Verde más oscuro */
  }
  
  /* Table caption styling */
  .rubrica-table caption {
    font-size: 1.3em;
    margin-bottom: 12px;
    color: #1B5E20; /* Verde más oscuro */
    font-weight: 700;
    text-align: left;
  }
  
  /* Border-radius for a softer look */
  .rubrica-table {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  